// Specific CSS for your home-page

#card {
  margin-bottom: 80px;
}

h3 {
  color:white;
}

.header-text {
  font-size: 40px;
  font-weight: 600px;
  margin-top: 100px;
  color: white;
}
.btns {
  display:flex;
  justify-content: center;
}
.cards-grid-index {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 40px 70px;
}

.card-home-page {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 300px;
}

.card_borders {
  border-radius: 15px 15px 0px 0px ;
}


.img-home {
  height: 400px;
  width: 500px;
}

.card-body {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.qr-width {
  width: 200px;
}

@media(max-width: 1080px) {
  .cards-grid-index {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-grid-index {
    grid-template-columns: 1fr;
  }
}
