.btns-menu-dishes {
  display:flex;
  align-items: center;
}

.dish-category {
  background-color: #FFBBAD;
  color: #FF532F;
  border-radius: 15px;
  padding: 3px;
  margin-right: 850px;
  text-align: center;
}
