.form-text {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.form-inputs {
  width: 400px;
}

.form-radius {
  border-radius: 7px;
}

.btn-margin {
  margin-right: 25px;
}
