<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-regular fa-copyright"></i> FoodVisualizer. All rights reserved</a>

  </div>
  <%# <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div> %>
</div>
