<div class=container>

  <div class="header-text">
    <h1>Food Visualizer</h1>
    <h3>Let your guests see your food</h3>
  </div>

  <br>

  <% if current_user %>
  <p> </p>
  <% else %>
    <div class="btns">
    <%= link_to 'Sign Up',  new_user_registration_path, class: "btn btn-outline-secondary"%>
    </div>
  <% end %>

  <br>

  <div class=cards-grid-index>
        <div class="card" style="width: 18rem;">
          <%= cl_image_tag("v1661870846/FoodVisualizer/pexels-photo-4518881_comejf",crop: :fill)%>
          <div class="card-body">
            <h5 class="card-title">Upload Photos for Your Menu Items</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <%= cl_image_tag("v1661870846/FoodVisualizer/pexels-photo-3301907_refgdu",crop: :fill)%>
          <div class="card-body">
            <h5 class="card-title">Guests Scan the QR Code and See Your Food</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <%= cl_image_tag("v1661871371/FoodVisualizer/pexels-photo-7780035_emamgn",crop: :fill)%>
          <div class="card-body">
            <h5 class="card-title">Easy to Edit and Upload Photos</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
    </div>
  </div>

</div>
