<%# restaurant's show page %>
<div class = "main_container">
  <h1>The menus of <%=@restaurant.name%> (Preview)</h1>
  <div class="menu-cards cards-12-col">
    <% @menus.each do |menu|%>
      <div class = "card menu-card-guest">
        <div class = "card-body menu-card-guest-text">
          <h3><%=menu.category%> menu</h3>
          <div class = "buttons-cards-placing-guest">
            <div class = "trashcan-div-menus">
            </div>
            <%=link_to "See menu", preview_dishes_path(menu_id: menu.id), class: "main_button" %>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>
