// .cards-grid-dashboard {
//     display: grid;
//     justify-items: center;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-gap: 30px 50px;
//     justify-items: start;
//     margin-right: 675px;
//     margin-bottom: 30px;
// }

.dashboard-container{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.container-restaurants-vistis {
  display: flex;
}

.board-restaurants{
 width: 49%;
}


.board-reviews {
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 20px;
  text-align: left;
  padding: 20px;
  margin: 20px;
  height: 440px
}


.board-alerts {
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 20px;
  text-align: left;
  padding: 20px;
  margin: 20px;
  height: 560px;
}

.edit {
  color: lightgray;
}

.edit:hover {
  color: rgb(67, 66, 66);
}

.exclamation {
  // color: rgb(255, 89, 0);
  color: #FF914D;
}

.board-visits{
  margin-top: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 20px;
  text-align: left;
  width: 200px;
  padding: 20px;
  text-align: center;
  height: 250px;
}

.phone {
  font-size: 70px;
  color: black;
  margin: auto;
}
// .reviews-alerts {
//   justify-content: space-between;
//   .reviews {
//     text-align: left;
//   }
//   .alerts {
//     text-align: left;
//   }
// }

// .reviews-alerts {
//   display: flex;
//   justify-content: space-between;
// }

// .reviews {
//   flex-direction: column;
//   text-align: center;
// }

// .alerts {
//   flex-direction: column;
//   text-align: center;
// }

.scans-div {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background:white;
  border-radius: 13px;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  height: 440px;
}

.restaurants-div {
  // background:  #F1961A;
  border: solid 3px #FF914D;
  // border: solid 3px rgb(255, 89, 0);
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
  border-radius: 13px;
  margin: 18px 18px 18px 18px;
  padding: 20px;
  height: 560px;
}

.no-text-decoration {
  text-decoration: none;
  color: black;
}
