  .main_button{
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-decoration: none;
  }

  .main_button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

.secondary_button {
  padding: 10px 30px;
  width: 130px;
  background-color: black;
  color: white;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 20px;
}


.secondary_button:hover{
  color: white;
}


.view_as_guest_button {
  padding: 10px 15px;
  background-color: #909090;
  color: white;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  font-weight: bold;
  width: 130px;
}

.view_as_guest_button:hover {
  color: white;
}

.trashcan {
  color: #909090;
  font-size: 20px;
}

.magglas {
  color: #909090;
  font-size: 40px;
}

.trashcan:hover {
  color: black;
}

.magglas:hover {
  color: black;
}

.trashcan-div {
  position: absolute;
  right: -23px;
  top: 225px;
  width: 40px;
  font-size: 20px;
}

.magglass-div{
  position: absolute;
  right: 685px;
  top: 210px;
  width: 40px;
}
