.main_button {
   padding: 15px;
   background-image: linear-gradient(180deg, #FF522F, #F1B51A);
   color: white;
   text-decoration: none;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   border-radius: 10px;
   font-weight: bold;
}

.main_button:hover {
  color: white;
}

.secondary_button {
  padding: 15px 40px;
  width: 100px; // why does this not work?
  background-color: black;
  color: white;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 20px;
}


.secondary_button:hover{
  color: white;
}


.view_as_guest_button {
  padding: 15px;
  background-color: #909090;
  color: white;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  font-weight: bold;
}

.view_as_guest_button:hover {
  color: white;
}

.trashcan {
  color: #909090;
  font-size: 20px;

}

.trashcan:hover {
  color: black;
}

.trashcan-div {
  position: absolute;
  right: -23px;
  top: 225px;
  width: 40px;
  font-size: 20px;
}
