.dish-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.trashcan {
  a {
    color: #FFFFFF;
  }

  a:hover {
    color: #FFFFFF;
  }
}

.trashcan:hover {
  background-color: #b7b7b7 !important;
}

.cards-dashboard {
  margin-top: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 390px
}

.cards-reviews{
  margin-top: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 390px;
  padding: 15px;
  width: auto;
  height: auto;
}

#cards-reviews-search{
  width: 80%;
}

.dish-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
}

.icon-reviews {
  font-size: 100px;
  color: #F58222;
}

.star {
  margin-bottom: 15px;
}

.align-text-reviews{
  // justify-content: center;
  // align-items: center;
  text-align: center;
}

.photos-cards-dashboard {
  border-radius: 15px 15px 0px 0px;
  height: 250px;
}

.center {
  margin: auto;
  width: 70%;
  padding-bottom: 40px;
  padding-top: 40px;
}

.card-picture-borders {
  border-radius: 15px 0px 0px 15px ;
}

.text-card-dishes {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.buttons_in_card {
  margin-top: 80px;
}

.menu-card {
  margin-top: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menu-card-guest {
  justify-content: center;
  text-align: center;
  width: 220px;
  height: 150px;
  border-radius: 15px;
}

.buttons-cards-placing-guest {
  padding: 40px;
}

.menu-card-guest-text{
  margin-top: 30px;
}

.buttons-cards-placing {
  margin-top: 110px;
  margin-bottom: 20px;
}

.trashcan-div-menus {
  position: absolute;
  right: -5px;
  top: 17px;
  width: 40px;
  font-size: 20px;
}

.cards-12-col{
  grid-template-columns: repeat(12, [col] 1fr) !important;
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 10px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0px;
  }
}

.card-index-restaurants {
  min-width: auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-button-menus {
  align-items: center;
  display: flex;
  text-align: center;
}


.picture-dish-card {
  object-fit: cover;
}

.single-dish-card {
  height: 100px;
}

.graph {
  width: 50%;
}

.all-reviews {
  width: 50%;
}
