// .dish-cards {
//   margin-top: 20px;
//   background: white;
//   border-radius: 15px;
//   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
//   width: 70%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.center {
  margin: auto;
  width: 70%;
  padding-bottom: 40px;
  padding-top: 40px;
}

.card-picture {
  width: 35%;
}

.card-picture_borders {
  border-radius: 15px;
}

.text-card-dishes {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
