.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

#foodvisualizer img {
  width: 180px;
  margin-left: 10px;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-brand h2 {
 margin: 0;
 margin-left: 10px;
}

.nav-item p {
  margin: 0;
  padding: 8px;
}
