.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  // background:
  // linear-gradient(45deg, #FF552D 0%, #F1961A  51%, #FF512F  100%)
  //   bottom
  //   white
  //   no-repeat;
  // background-size:100% 2px ;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

#foodvisualizer img {
  width: 180px;
  margin-left: 10px;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-brand h2 {
 margin: 0;
 margin-left: 10px;
}

.nav-item p {
  margin: 0;
  padding: 8px;
}
