.cards-dashboard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}

.card-restaurant {
  border: 1px solid black;
  width: 30px;
}



.btns {
  display: flex;
  align-items: center;

}

.cards-grid-dashboard {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px 50px;
  justify-items: start;
  margin-right: 675px;
}
.times-scanned {
  display: flex;
  justify-content: flex-end;
}
