<h1>New review</h1>
<div data-controller="insert-in-list">
  <%= simple_form_for ([@restaurant, @menu, @dish, @review]) do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>

<!-- app/views/restaurants/show.html.erb -->
