<div class="container">
  <br>
  <h1 class="text-center">New review</h1>
    <div class="mx-auto" style="width: 500px;">
      <%= simple_form_for ([@restaurant, @menu, @dish, @review]) do |f| %>
        <%= f.input :rating, input_html: { class: "form-radius" } %>
        <%= f.input :content, input_html: { class: "form-radius" } %>
        <div class="text-center mt-4">
          <%= f.submit "Submit review", class: "main-button" %>
        </div>
      <% end %>
    </div>
</div>
<!-- app/views/restaurants/show.html.erb -->
